.title{
    position:absolute;
    bottom:20px;
    left:10%;
    border:2px solid white;
    background-color:white;
    width:80%;
}
.fixed-box{
    top:25px;
    left:30%;
    width:40%;
    
}

.close-btn{
    position:absolute;
    top:20px;
    right:10px;
}
.left-btn{
    position:absolute;
    left:30px;
    top:250px;
}
.right-btn{
    position:absolute;
right:20px;
top:250px;
}

